# Add any directories, files, or patterns you don't want to be tracked by version control

Pods/
build/
Podfile.lock
ParkingFriends.xcodeproj/xcuserdata/
ParkingFriends.xcworkspace/xcuserdata/
ParkingFriends.xcworkspace/xcuserdata/*.xcuserdatad
Pods/Pods.xcodeproj/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad